/* Body */
body {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgb(45, 45, 45) 0%,
		rgb(5, 5, 5) 100%
	);
	background-repeat: no-repeat;
	height: 100%;
	min-height: 100vh;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Profile Image */
.profileImage {
	border-radius: 50%;
}

.profileImageContainer {
	display: flex;
	align-content: center;
	justify-content: center;
	height: 150px;
	margin-top: 8%;
}

/* Name */
.name {
	display: flex;
	align-content: center;
	justify-content: center;
	color: rgb(240, 240, 240);
	font-size: 1.5rem;
}

/* Button */
.button {
	display: flex;
	flex-wrap: wrap;
	max-width: 450px;
	margin: auto auto;
}

.button a.featured:hover,
.button a:hover {
	background-color: rgb(50, 50, 50);
	color: rgb(255, 255, 255);
}

.button a {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 450px;
	width: 100%;
	margin: 0 auto 15px;
	padding: 15px 20px; 
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	color: rgb(200, 200, 200);
	background-color: rgb(35, 35, 35);
}

.button a.featured {
	position: relative;
}

/* Info Text */
#infoText {
	color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 1rem;
}
